*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    width: 100%;
    height: 100vh;
    /* background-image: url(https://images.unsplash.com/photo-1761396618713-8406f883d137?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG5hdHVyZSUyMG1pbmQlMjByZWxheGluZ3xlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover; */
}
#ojus{
    width: 35%;
    margin-top: 120px;
    margin-bottom: 70px;
}
#ojus img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 50px;
}
.front{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    margin-bottom: 20px;
    gap: 30px;
}
.b{
    display: block;
    padding-top: 100px;
    font-weight: 1000;
}
.c{
    font-size: 20px;
    font-weight: 200;
}
#ojus p{
    width: 60%;
    margin-left: 50px;
    text-align: center;
    font-size: larger;
    line-height: 30px;
}
#box{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black;
    width: 70%;
    margin-right: 30px;
    height:450px;
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 2px 2px 5px black,-2px -2px 5px azure;
    background-color: beige;
}
#box p{
    text-align: center;
    margin-right: 60px;
}
#box p strong{
    font-size: 50px;
}
#box button{
    width: 80%;
    margin-left: 30px;
    height: 120px;
    border-radius: 20px;
    border: none;
    margin-top:40px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px black,-2px -2px 5px azure;
    text-align: left;
    padding-left: 30px;
    font-size: larger;
    background-color: #F2F0CE;
}
#box button:hover{
    width:82%;
    height: 123px;
    background:linear-gradient(45deg,#d7a872,azure);
}
.icon{
    font-size: 40px;
}
footer{
    margin-top: 80px;
    text-align: center;
    border-top: 4px solid azure;
    background: #20263E;
    height: 350px;
    padding-top: 25px;
    font-size: 45px;
    color: azure;
}
footer p{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-size: 20px;
}